@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

$primary: #4285f4;
$secondary: #1f7ff0;

.form-control,
.form-select {
  outline: none;
  box-shadow: none;
  border-radius: 0px;

  &:focus {
    box-shadow: none;
    border-color: $secondary;
  }
}


.form-group {
  position: relative;
  margin-bottom: 15px;

  label {
    position: absolute;
    top: 80%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #828282;
    pointer-events: none;
    transition: all 0.4s ease-out;
  }

  input {
    display: inline-block;
    padding: 5px 0;
    margin: 30px 0px 0px;
    font-size: 14px;
    background: none;
    border: 0;
    border-bottom: 1px solid #eee;
    color: #333;
    box-shadow: none;
    outline: none;
    transition: 0.4s;
  }

  input:focus + label,
  input.has-value + label,
  textarea:focus + label,
  textarea.has-value + label {
    top: 15px;
    font-size: 12px;
    color: $primary;
  }
  input:focus{
    border-bottom: 2px solid $primary;
  }
  textarea:focus + label,
  textarea.has-value + label {
    top: 30px;
  }
  input:focus::-webkit-input-placeholder 
  {
    color: transparent;
  }


}

.form-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#multistepsform {
  width: 550px;
  margin: 0 auto;
  position: relative;

  fieldset {
    border: 0 none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px 30px 50px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;

    img {
      text-align: left;
      width: 100px;
      margin-left: -10px;
    }

    h2 {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      color: #212121;
    }

    h3 {
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      .icon-box{
        i{
          color: $primary;
          font-size: 18px;
        }
      }
    }
    .forgot-email,.create-ac{
      font-size: 14px;
      line-height: 20px;
      color: $primary;
      text-decoration: none;
      font-weight: 400;
      display: inline-block;
      margin: 40px 0px 50px;
    }
    p{
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: #757575;
      a{
        color: $primary;
        text-decoration: none;
      }
    }
  }

  fieldset:not(:first-of-type) {
    display: none;
  }
  .btns-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    .create-ac{
      margin: 0px;
    }
  }
  .action-button {
    background: $primary;
    font-weight: bold;
    color: #fff;
    transition: 150ms;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 8px 25px;
    margin: 10px 5px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
  }

}

@media screen and (max-width: 425px) {
  .container{
    padding: 0;
  }
  .form-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  #multistepsform {
    width: 100%;
    margin: 0 auto;
    position: relative;

    fieldset {
      border: 0 none;
      border-radius: 0px;
      box-shadow: none;
      padding: 24px 24px 36px;
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      position: relative;

    }

  }

}